<div class='description'>
	<h1>About:</h1>
	<p>
		My name is Phil DeLong and I'm a dedicated Backend Developer with a demonstrated history in Product Management, Sales, and Marketing for medical technology groups. As a back-end developer, I have experience creating scalable web applications within a in a fast-paced, challenging environment. I enjoy problem-solving and learning new ways to approach obstacles.
	</p>
		<br>

	<h3>Childhood and Education</h3>
	<p>
		I grew up in Columbus, OH, where I focused on friends, family, sports, and studying to graduate from highschool with a GPA high enough to get into college. I lived within ten miles of campus and if you've had the pleasure of meeting my (very) Italian mother, or anyone related to her, you know THE Ohio State University is the greatest institution of all time. Which didn't go over particularly well when I chose to attend the University of Kentucky...
	</p>

	<p>
		I received a Bachelor of Science in Business Economics (BSBE), and in addition to coursework, I learned to become more professionally creative and independent. I found a passion for personal development and learning, which quickly led me to my first highly-competitive role as an Endoscopic Product Specialist in the Med Device Industry. I was responsible for troubleshooting advanced medical devices like UHD cameras and scopes during surgery.
	</p>
		<br>

	<h3>Early Career</h3>
	<p>
		I loved my first job for all of the challenges and fast-spanaced nature of the work. I learned to think quickly and communicate well while under high-pressure situations. I continued to grow and expand my knowledge of medical devices where I held further roles in Sales, and Commercial Marketing for some of the most innovative Orthopedic firms in the world.
	</p>

	<p>
		When I decided to step away from the that career I had spent 7-years building and perfecting, I was very proud of the work that I was involved in. I enjoyed the people, the focus, and the mission. But the piece that was lacking for me was the freedom of creativity. I was highly-skilled at USING tools to solve probelms, but my dream is to CREATE tools to solve problems.
	</p>
		<br>

	<h3>Transition into Software</h3>
	<p>
		For several years I dabbled in code here and there, but finally decided to make the leap into software and enrolled in Turing School of Software of Design's Backend Engineering program in Denver, CO. In doing so, I've built a strong foundation for my future in Software Development and feel grateful for the experiences that led me to this point. 
	</p>
		<br>
		
	<h3>Family and Fun</h3>
	<p>
		I moved to Colorado in 2017 with my wonderful girlfriend, Courtney. She currently works as a Clinical Psychiatric Pharmacist at the Denver VA Medical Center. She's also the best mother to our Labradoodle, Capo and our cat, Sampson. We like spending time outdoors, seeing live music, and solving jigsaw puzzles.
	</p>
		<br>

	<p>
		Thank you for visiting and I hope you enjoy!
	</p>

	<p>
		- Phil
	</p>
<div>
