<div class='description'>
	<h1>About:</h1>
	<p>
		My name is Phil DeLong and I'm a dedicated Backend Developer with a demonstrated history in Product Management, Sales, and Marketing for medical technology groups. As a back-end developer, I have experience creating scalable web applications within a in a fast-paced, challenging environment. I enjoy problem-solving and learning new ways to approach obstacles.
	</p>

	<p>
		I live in Denver, Colorado with my wonderful girlfriend, Courtney. She currently works as a Clinical Psychiatric Pharmacist at the Denver VA Medical Center. She's also the best mother to our Labradoodle, Capo and our cat, Sampson. We like spending time outdoors, seeing live music, and solving jigsaw puzzles.
	</p>
	<br>

	<h3>Childhood and Education</h3>
	<p>
		I grew up in Columbus, OH, where I focused on friends, family, sports, and studying just hard enough to get into college. I lived within ten miles of campus and if you've had the pleasure of meeting my (very) Italian mother, or anyone related to her, you know THE Ohio State University is the greatest institution of all time. Which didn't go over particularly well when I chose to attend the University of Kentucky...
	</p>

	<p>
		I received a Bachelor of Science in Business Economics (BSBE), and in addition to coursework, I learned to become more professionally creative and independent. Later, I decided to attend a Backend Software Engineering program, but I'll get into that further down...
	</p>
	<br>

	<h3>Career</h3>
	<p>
		I found a passion for personal development and learning, which quickly led me to my first highly-competitive role as an Endoscopic Product Specialist in the Med Device Industry. I was responsible for troubleshooting advanced medical devices like UHD cameras and scopes during surgery.
	<p>

	<p>
		I loved my first job for all of the challenges and fast-paced nature of the work. I learned to think quickly and communicate well while under high-pressure situations. I continued to grow and expand my knowledge of medical devices where I held further roles in Sales and Commercial Marketing for some of the most innovative Orthopedic firms in the world.
	</p>

	<p>
		When I decided to step away from the that career I had spent 7-years building and perfecting, I was very proud of the work that I was involved in. I enjoyed the people, the focus, and the mission. But the piece that was lacking for me was the freedom of creativity. I was highly-skilled at USING tools to solve probelms, but my dream is to CREATE tools to solve problems.
	</p>

	<p>
		When my dad passed away in late 2017, I had recently moved to Denver. I was figuring out a new city, had no job, and no plans. I was feeling a little unsure about what the next steps forward in my career looked like, when an old friend from high school reached out. He was (..and still is) living in Boulder, CO working a software developer and exlpained a little about what he "did" and what he was working on at the time. I thought it was an incredible concept, but one that I couldn't quite wrap my head around. 
	</p>
		
	<p>
		At the time, I decided to stick with Med Device and ended up landing a job as a Product Manager with a rapidly growing medical device start-up here in Denver and dove right in. The role required extensive travel and a life-style commitment. I had the experience and drive to succeed and that's what I did for a while, but I wasn't as content with my position as I thought I should be.
	</p>
	<br>

	<h3>Transition into Software</h3>
	<p>
		After a couple years of dabbling in code while grinding away at my day-job, I finally decided to make the leap into software and enrolled in Turing School of Software of Design.
	</p>
		
	<p>
		I enrolled in the Backend Engineering program and completed my studies in April, 2020. Throughout this journey, I've built a strong foundation for my future in Software Development and feel grateful for the experiences that led me to this point. 
	</p>
		
	<p>
		Thank you for visiting and I hope you enjoy!
	</p>

	<p>
		- Phil
	</p>
	<br>

	<h3>Meet the Gang</h3>
	<div>
	<div class='photo'>
		<%= image_tag("/app/assets/images/mountain.jpeg", alt: "Mt. Bierstadt") %>
	</div>
	<div align='center' class='caption'>
		<p>Courtney and me enjoying the views at the summit of Mt. Bierstadt, a popular Colorado "14-er."</p>
	</div>
	<br>

	<div class='photo'>
		<%= image_tag("/app/assets/images/doodle.jpeg", alt: "Capo, the dog") %>
	</div>
	<div align='center' class='caption'>
		<p>This is Capo, the self-walking Labradoodle (I wish).</p>
	</div>
	<br>

	<div class='photo'>
		<%= image_tag("/app/assets/images/kitten.jpeg", alt: "Sampson, the cat") %>
	</div>
	<div align='center' class='caption'>
		<p>..and this is Sampson. The photo speaks for itself.</p>
	</div>
	<br>
<div>
