<div class='description'>
	<h1>Career:</h1>
		<p>
			My name is Phil DeLong and I'm a dedicated Backend Developer with a demonstrated history in Product Management, Sales, and Marketing for medical technology groups. As a back-end developer, I have experience creating scalable web applications within a in a fast-paced, challenging environment. I enjoy problem-solving and learning new ways to approach obstacles.
		</p>

		<p><%= link_to "Resume", "/resume" %></p>
			<br>

		<h3>Early Career</h3>
		<p>
			I loved my first job for all of the challenges and fast-spanaced nature of the work. I learned to think quickly and communicate well while under high-pressure situations. I continued to grow and expand my knowledge of medical devices where I held further roles in Sales, and Commercial Marketing for some of the most innovative Orthopedic firms in the world.
		</p>

		<p>
			When I decided to step away from the that career I had spent 7-years building and perfecting, I was very proud of the work that I was involved in. I enjoyed the people, the focus, and the mission. But the piece that was lacking for me was the freedom of creativity. I was highly-skilled at USING tools to solve probelms, but my dream is to CREATE tools to solve problems.
		</p>
			<br>

		<h3>Transition into Software</h3>
		<p>
			For several years I dabbled in code here and there, but finally decided to make the leap into software and enrolled in Turing School of Software of Design's Backend Engineering program in Denver, CO. In doing so, I've built a strong foundation for my future in Software Development and feel grateful for the experiences that led me to this point. 
		</p>
			<br>
<div>