<div class='description'>
	<h1>About</h1>
	<p>
		I'm a dedicated Backend Developer with a demonstrated history in Product Management, Sales, and MarkeRng for medical technology groups. As a back-end developer, I have experience creaRng scalable web applicaRons within a in a fast-paced, challenging environment. I enjoy problem-solving and learning new ways to approach obstacles.
	</p>
<div>
