/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* tag stlying */
a {
	font-family: avenir;
	font-size: large;
	color: firebrick;
	text-decoration: none;
	cursor: pointer;
}

h1 {
	font-family: avenir;
}

h3 {
	font-family: avenir;
	color: firebrick;
}

p, li {
	font-family: avenir;
	padding-inline-start: 10px;
	padding-inline-end: 10px;
}

/* custom styling */
.description {
	padding: 20px;
	padding-top: 150px;
}

.description img {
	border-radius: 20px;
}

.photo img {
	width: 80%;
	margin-left: 10%;
}

#flash {
	font-size: small;
	color: firebrick;
	position: fixed;
}

/* corenav stlying */
nav {
	position: fixed;
	width: 100%;
	height: 140px;
	background-color: whitesmoke;
}

/* sidenav styling */
/* standard .sidenav */
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	overflow-x: hidden;
	transition: 0.3s;
	padding-top: 60px;
}

.sidenav img {
	border-radius: 100%;
	display: block;
	transition: 0.3s;
	width: 85%;
}

.sidenav p {
	color: #f1f1f1;
}

.sidenav a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  color: #f1f1f1;
}

.sidenav a:hover {
	color: firebrick;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* topnav styling */
#nav-links img {
	width: 20px;
	padding: 10px;
	float: right;
}

#nav-links {
	width: 100%;
	padding-bottom: 20px;
}

#user-session {
	float: left ;
	font-family: avenir;
	padding: 5px
}

#stats {
	float: right;
	padding-right: 3%;
	font-weight: bold;
}

#howto {
	font-style: italic;
}